<div class="container">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th (click)="sortByName()" scope="col-4" #name>Name</th>
        <th (click)="sortByType()" scope="col-4" #type>Type</th>
        <th (click)="sortByColor()" scope="col-4" #color>Color</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartData">
        <td> {{ item.name | titlecase}}</td>
        <td> {{ item.type }} </td>
        <td> {{ item.color }} </td>
      </tr>
    </tbody>
  </table>
</div>
